<div class="container">
    <input type="radio" name="slider" id="home">
    <input type="radio" name="slider" id="blog">
    <input type="radio" name="slider" id="code">
    <input type="radio" name="slider" id="help">
    <input type="radio" name="slider" id="about">
    <nav>
        <label for="home" class="home">Home </label>
        <label for="blog" class="blog">Blog </label>
        <label for="code" class="code">Code </label>
        <label for="help" class="help">Help </label>
        <label for="about" class="about">About </label>
        <div class="slider"></div>
    </nav>
    <section>
        <div class="content content-1">
            <div class="title">Home</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-2">
            <div class="title">Blog</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-3">
            <div class="title">Code</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-4">
            <div class="title">Help</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-5">
            <div class="title">About</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
    </section>
</div>