<p-blockUI [baseZIndex]="1000" [target]="trainingSched" [blocked]="!calendarVisible()">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>
<p-panel #trainingSched class="row panelCalendar" [showHeader]="false"> 
    <div class='demo-app'>
        <div  class='demo-app-main'>
            <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions' style="width: 100%; height: 100%;">
                <ng-template #eventContent let-arg>
                    <b>{{ arg.timeText }}</b>
                    <i>{{ arg.event.title }}</i>
                </ng-template>
            </full-calendar>
        </div>
    
    </div>
</p-panel>
