a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    
}
 

a:active, a:focus
 {
    color: #8C55D9; /* Example: Change text color to red */
    border-bottom-color: #8C55D9;
}

.p-icon {
    width: 2rem;
    height: 18px;
    font-weight: bold;
    position: relative;
}