.custom-accordion .p-accordion-header {
    background-color: transparent !important;
    color: black !important;
}

.custom-accordion .p-accordion-content {
    background-color: transparent !important;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
    font-size: 18px;
}

.p-icon {
    width: 2rem;
    height: 18px;
    font-weight: bold;
    position: relative;
}