.popup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%; /* Set width as needed */
    
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Add some margin at the bottom */
  }
  
  .popup-header h2 {
    margin: 0;
  }
  /*   
  .popup-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; Align items at the top
    margin-bottom: 30px; Add some margin between rows
    font-weight: bold;
    color: var(--purple);
    
  } */
  
  .title-label{    
    font-weight: bold;
    color: var(--purple);    
    margin-top: 20px
  }
  
  .black-label{    
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
    
  }
  
  .popup-content .form-group {
    flex-grow: 1; /* Each form group takes up equal space */
    
  }
  
  .popup-content .form-group:not(:last-child) {
    margin-right: 10px; /* Add some spacing between textboxes */
  }
  
  .popup-footer {
    text-align: right;
  }
  
  
  .label-form{
    color: 1px solid var(--purple)
  }
  
  .form-group-dates {
    margin-bottom: 5px; /* Add some margin between form groups */
    max-width: 30%;
    float: left;
  }
  
  .popup-overlay{
    width: 100%
  }
  
  .backButton{
    padding-top: 20px;
  }

  .subHeader2 {
    display: flex;
    flex-direction: column;
    padding-left: 2% !important;
    padding-bottom: -30%;
    color: #522A8B;
    align-items: left;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.5em;   
 }

 a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    
} 

a:active, a:focus
 {
    color: #8C55D9; /* Example: Change text color to red */
    border-bottom-color: #8C55D9;
}

