<ng-container>
    <div class="row main-screen">
        <div class="col-md-12" [class.disabled] ="isPopupVisible" >
            <div class="row">
                <label class="subHeader">
                    Manage Training List
                </label>
            </div>
            <div class="col-md-12 ">
                <div class="contentScreen">
                    <p-card class="contentCard table">
                        <div class="row ">
                            <app-table *ngIf="showViewManage" [data]="trainingList" [columns]="tableColumn"
                                (sortChange)="onSort($event)" (view)="onView($event)" (edit)="onEdit($event)"
                                (delete)="onDelete($event)" [showButtonManageTrainings]="true" 
                                (addCalendarClick) = "viewCalendar()"
                                (sort)="onSort2($event)" (addTrainingClick)="showPopup()"> </app-table>
                            <view-trainings *ngIf="!showViewManage" [showViewManage]="showViewManage"
                                (showViewManageChange)="showViewManage = $event" [data]="viewData">
                            </view-trainings>
                            <app-dialog-box [isOpen]="isOpen" [msgStatus]="'options'"
                                [msg]="'Are you sure you want to delete this training?'"
                                [imgStatus]="'../../../../../assets/warning.svg'" (dialogClosed)="onCloseClick()"
                                (dialogProceed)="proceedDelete()">
                            </app-dialog-box>
                            <app-dialog-box [isOpen]="isSuccess" [msgStatus]="'success'" [msg]="'Successfully Deleted!'"
                                [imgStatus]="'../../../../../assets/success.png'" (dialogClosed)="onCloseClick()">
                            </app-dialog-box>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
        <add-edit-training-popup *ngIf="isPopupVisible" [trainingDetails]="selectedTraining"
            (close)="closePopup()">
        </add-edit-training-popup>
        <p-dialog *ngIf="viewCalendarPopup" [(visible)]="viewCalendarPopup" [focusOnShow]="false" [responsive]="true" showEffect="fade"
            [modal]="true" [style]="{height:'80%',width:'85%',overflow:'auto'}">
            <p-header class="">Training Calendar</p-header>
            <app-view-calendar></app-view-calendar>
        </p-dialog>
    </div>
</ng-container>
