.sidebar {
    background-color: var(--white);
    transition: all .5s ease;
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #c4bfbf;
}

.logo-container{
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;

    .logo {
        background-color: var(--purple);
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.2rem;
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        border: none;
        color: var(--white);
    }

    .logo-text {
        margin-left: 0.5rem;
        font-size: 24px;
        font-weight: 700;
        color: var(--purple);
    }

    .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        background-color: transparent;
        border: none;

        .pi-times{
            color: var(--black);
            font-size: 24px;
        }
    }
}

.sidebar-nav{
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    


    .sidebar-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidebar-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: var(--purple);
            text-decoration: none;
            transition: all .3s ease;
            border-radius: 0.583rem;

            .sidebar-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidebar-link-text {
                margin-left: 1.5rem;
                
            }
        }

       
    }
    .sidebar-nav-item:hover{
        .sidebar-nav-link{
            background-color: var(--purple);
            color: var(--white);
            
            .menu-collapse-icon{
              color: var(--white);
            }
        }
    }

}

.active {
    background-color: var(--purple);


    .menu-collapse-icon,
    .sidebar-link-icon,
    .sidebar-link-text {
        color: var(--white);
    }
}

.active-sublevel {
    background-color: var(--purple);

    .sublevel-nav-item  {
        color: var(--white);
    }
}


.menu-collapse-icon {
    font-size: 20px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: var(--purple);
}

.sublevel-nav {
    list-style: none;
    margin-left: 10px;
    
    .sublevel-nav-item {
        .sublevel-nav-link {
            margin-top: 5px;
            display: flex;
            align-items: center;
            height: 3rem;
            color: var(--black);
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sublevel-link-icon {
                display: none;
                font-size: 1px;
                width: 2rem;
                min-width: 2rem;
                margin: 0. 0.5rem;
                text-align: center;
            }

            .sublevel-link-text {
                margin-left: 0.8rem
            }
        }

        .sublevel-nav-link:hover {
            background-color: var(--purple);
            color: var(--white);

        }
    }
}


/* scrollbar and visibility on hover and :focus */
.scrollwrap{
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem );
}

.sidebar-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}


/* chrome, edge, safari */
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track{
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb{
    background-color: #556268;
    border-radius: 20px;
}

.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556528 transparent;
}