.cert-box {
    margin-left: 20px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    width:max-content;
  }
  