<section>
    <div class="container">
        <div class="text">
            <h1>Page Not Found</h1>
            <p>We can't seem to find the page you're looking for. Please check the URL for any typos.</p>
            <form role="search" method="get" id="searchform" class="searchform" action="http://www.google.co.uk/search?hl=en-GB&source=hp&q=">
                <div class="input-box">     
                    <input type="text" value="" name="q" placeholder="Search with Google">
                    <button type="submit" value="&#xf002;" style="font-family: FontAwesome;">
                        <i class="fa-solid fa-search"></i>
                    </button>
                </div>
            </form>
            <ul class="menu">
                <li><a href="/admin-dashboard">Go to Homepage</a></li>
                <li><a href="#" (click)="backHome()">Go to Login Page</a></li>
                <li><a href="#" (click)="backHome()">Logout</a></li>
            </ul>
        </div>
        <div><img class="image" src="https://omjsblog.files.wordpress.com/2023/07/errorimg.png" alt=""></div>
    </div>
</section>